html {
    overflow-x: hidden;
    body {
        background: rgb(10, 0, 56);
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.category-header {
    color: white;
    text-align: center;
}

.watch-popup {
    position: fixed;
    color: white;
    background-color: black;
    top: 0;
    right: 1rem;
    padding: 2rem;
    border-style: none;
    border-radius: .3rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
    &.show {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s linear;
    }
}

.popup-title {
    color: rgb(255, 242, 0);
}

.loading-spinner {
    margin-top: 3rem;
    text-align: center;
}

$divColor: rgb(82, 92, 223);
$textColor: white;
$hoverColor: rgb(42, 54, 216);

@mixin flex($direction, $justify-content) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
}

@mixin buttons($color) {
    button {
        color: white;
        background-color: $color;
        border-radius: 0.3rem;
        padding: 1rem 2rem;
        font-size: 1rem;
        &:hover {
            background-color: $hoverColor;
            cursor: pointer;
        }
      }
}

@mixin searchMobile($font-size) {
    input {
        font-size: $font-size;
        margin: 1.5rem 0.25rem;
    }
    button {
        padding: 0.25rem 0.5rem;
        font-size: $font-size;
        margin: 1.5rem 0.25rem;
    }
}

@mixin genreNavContents() {
    @include buttons($divColor);
    button {
        display: block;
        padding: 0.25rem 2rem;
        width: 100%;
        background: transparent;
    }
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    width: 100%;
    border-radius: .25rem;
}

@mixin addRemoveMovie($toggleColor) {
    position: absolute;
        color: white;
        font-size: 2rem;
        padding: 0 0.75rem;
        background-color: $toggleColor;
        opacity: 65%;
        right: 0;
        &:hover {
            opacity: 100%;
            cursor: pointer;
        }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

