html {
  overflow-x: hidden;
}

html body {
  background: #0a0038;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.category-header {
  color: white;
  text-align: center;
}

.watch-popup {
  position: fixed;
  color: white;
  background-color: black;
  top: 0;
  right: 1rem;
  padding: 2rem;
  border-style: none;
  border-radius: .3rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 1s, opacity 1s linear;
  transition: visibility 0s 1s, opacity 1s linear;
}

.watch-popup.show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.popup-title {
  color: #fff200;
}

.loading-spinner {
  margin-top: 3rem;
  text-align: center;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  background-color: #05001d;
  background-image: -webkit-gradient(linear, left top, right top, from(#05001d), to(#00085a));
  background-image: linear-gradient(to right, #05001d, #00085a);
  -webkit-box-shadow: rgba(107, 0, 68, 0.4) 0px 5px, rgba(107, 0, 68, 0.3) 0px 10px, rgba(107, 0, 68, 0.2) 0px 15px, rgba(107, 0, 68, 0.1) 0px 20px, rgba(107, 0, 68, 0.05) 0px 25px;
          box-shadow: rgba(107, 0, 68, 0.4) 0px 5px, rgba(107, 0, 68, 0.3) 0px 10px, rgba(107, 0, 68, 0.2) 0px 15px, rgba(107, 0, 68, 0.1) 0px 20px, rgba(107, 0, 68, 0.05) 0px 25px;
  margin-bottom: 2rem;
}

.nav .mobile-toggle-btn {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.nav .mobile-toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.nav #select-category {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav #search-form input {
  background-color: transparent;
  border: 2px solid #b0b2d1;
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  color: white;
}

.nav #search-form button {
  color: white;
  background-color: #5d616b;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.nav #search-form button:hover {
  background-color: #2a36d8;
  cursor: pointer;
}

.nav #search-form button {
  margin: 0 2.5rem 0 0.5rem;
  padding: 1rem 2rem;
}

.category-button {
  margin: 0 0.5rem;
}

.category-button button {
  color: white;
  background-color: #525cdf;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.category-button button:hover {
  background-color: #2a36d8;
  cursor: pointer;
}

.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown button {
  color: white;
  background-color: #525cdf;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.dropdown button:hover {
  background-color: #2a36d8;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
}

@media (min-width: 1501px) {
  .dropdown:hover > .link + .dropdown-menu {
    display: inline;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    width: 100%;
    border-radius: .25rem;
  }
  .dropdown:hover > .link + .dropdown-menu button {
    color: white;
    background-color: #525cdf;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  .dropdown:hover > .link + .dropdown-menu button:hover {
    background-color: #2a36d8;
    cursor: pointer;
  }
  .dropdown:hover > .link + .dropdown-menu button {
    display: block;
    padding: 0.25rem 2rem;
    width: 100%;
    background: transparent;
  }
  .dropdown-menu-active {
    display: none;
  }
}

@media (max-width: 1500px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    margin: 0;
  }
  .nav .mobile-toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.5rem 0;
  }
  .nav #select-category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .nav #search-form {
    margin: auto;
  }
  .nav #search-form input {
    font-size: 1rem;
    margin: 1.5rem 0.25rem;
  }
  .nav #search-form button {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    margin: 1.5rem 0.25rem;
  }
  .category-links {
    display: none;
  }
  .category-links ul li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: .5rem 1rem;
  }
  .category-links-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .category-links-active ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .category-links-active li {
    text-align: center;
  }
  .category-links-active li:hover {
    background-color: #555;
  }
  .category-links-active li button {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
  }
  .category-links-active li button:hover {
    background-color: transparent;
  }
  .dropdown-menu-active {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    width: 100%;
    border-radius: .25rem;
  }
  .dropdown-menu-active button {
    color: white;
    background-color: #525cdf;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  .dropdown-menu-active button:hover {
    background-color: #2a36d8;
    cursor: pointer;
  }
  .dropdown-menu-active button {
    display: block;
    padding: 0.25rem 2rem;
    width: 100%;
    background: transparent;
  }
  .dropdown-menu-active button {
    padding: 0.5rem 0;
    border-bottom: solid 1px gray;
  }
}

@media (max-width: 450px) {
  .nav > #search-form input {
    font-size: 0.65rem;
    margin: 1.5rem 0.25rem;
  }
  .nav > #search-form button {
    padding: 0.25rem 0.5rem;
    font-size: 0.65rem;
    margin: 1.5rem 0.25rem;
  }
  .dropdown-menu > button {
    padding: 0.75rem 0;
  }
}

.movie {
  margin: 1.5rem;
  width: 250px;
  border-radius: 0.3rem;
  background: #525cdf;
  color: white;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.movie img {
  max-width: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
}

.movie .movie-info {
  position: absolute;
  background-color: black;
  display: none;
}

.movie .rating {
  float: left;
  font-weight: bold;
}

.movie .info-btn {
  position: absolute;
  background: transparent;
  border-style: none;
  margin: 0.5rem 0.25rem;
  opacity: 50%;
}

.movie .info-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.movie .info-btn img {
  width: 3.5rem;
}

.movie .save-movie {
  position: absolute;
  color: white;
  font-size: 2rem;
  padding: 0 0.75rem;
  background-color: black;
  opacity: 65%;
  right: 0;
}

.movie .save-movie:hover {
  opacity: 100%;
  cursor: pointer;
}

.movie .remove-movie {
  position: absolute;
  color: white;
  font-size: 2rem;
  padding: 0 0.75rem;
  background-color: #fc4545;
  opacity: 65%;
  right: 0;
  border-style: none;
}

.movie .remove-movie:hover {
  opacity: 100%;
  cursor: pointer;
}

.movie .movie-info-show {
  position: absolute;
  background-color: black;
  padding: 1rem;
  border-radius: 0.3rem;
  -webkit-animation: fadeIn 0.75s;
          animation: fadeIn 0.75s;
}

.movie .movie-info-show .hide-info-btn {
  background-color: #525cdf;
  color: white;
  border-style: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.movie .movie-info-show .hide-info-btn:hover {
  cursor: pointer;
  background-color: #2a36d8;
}

.movie .title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.movie .title-div h3 {
  font-size: 1rem;
  padding-right: 2rem;
}

.movie .title-div .star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie .title-div .star {
  width: 1rem;
}

.movie .title-div .rating {
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.movie .title-div .rating.green {
  color: #01cb01;
}

.movie .title-div .rating.yellow {
  color: #ffdd00;
}

.movie .title-div .rating.red {
  color: #e30101;
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5rem;
}

.no-results {
  font-size: 2rem;
  color: white;
  margin-top: 2rem;
}

@media (max-width: 775px) {
  .movie {
    width: 350px;
  }
}

@media (max-width: 450px) {
  .movie {
    margin: 1rem 0;
    font-size: 0.65rem;
  }
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
  padding: 3rem 0;
}

.pages button {
  color: white;
  background-color: #5d616b;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.pages button:hover {
  background-color: #2a36d8;
  cursor: pointer;
}

.pages button {
  border: none;
}

.pages .highlight {
  background-color: #2a36d8;
}

.pages .page-nav {
  background-color: #2d2d2d;
}

@media (max-width: 1500px) {
  .pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10rem;
  }
  .pages .no-highlight {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */