$divColor: rgb(82, 92, 223);
$textColor: white;
$hoverColor: rgb(42, 54, 216);

@mixin flex($direction, $justify-content) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
}

@mixin buttons($color) {
    button {
        color: white;
        background-color: $color;
        border-radius: 0.3rem;
        padding: 1rem 2rem;
        font-size: 1rem;
        &:hover {
            background-color: $hoverColor;
            cursor: pointer;
        }
      }
}

@mixin searchMobile($font-size) {
    input {
        font-size: $font-size;
        margin: 1.5rem 0.25rem;
    }
    button {
        padding: 0.25rem 0.5rem;
        font-size: $font-size;
        margin: 1.5rem 0.25rem;
    }
}

@mixin genreNavContents() {
    @include buttons($divColor);
    button {
        display: block;
        padding: 0.25rem 2rem;
        width: 100%;
        background: transparent;
    }
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    width: 100%;
    border-radius: .25rem;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

