$divColor: rgb(82, 92, 223);
$textColor: white;
$hoverColor: rgb(42, 54, 216);

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
}

body {
    background: rgb(10, 0, 56);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.content {
    overflow: hidden;
    
}

.movies {
    @include flex(row);
    flex-wrap: wrap;
    align-items: center;
}

.movie {
    margin: 1.5rem;
    width: 350px;
    border-radius: 0.3rem;
    background: $divColor;
    color: $textColor;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

  img {
    max-width: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
  }
  .movie-info {
    position: absolute;
    background-color: black;
    animation: fadeOut 1s;
    display: none;
  }
  .rating {
    float: left;
    font-weight: bold;
  }

  .info-btn {
    position: absolute;
    background-color: black;
    color: white;
    border-style: none;
    margin: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    padding: 0.5rem 1.25rem;
    opacity: 65%;
  }

  .info-btn:hover {
    cursor: pointer;
    opacity: 100%;
  }
}

.movie-info-show {
    position: absolute;
    background-color: black;
    padding: 1rem;
    display: block;
    border-radius: 0.3rem;
    animation: fadeIn 2s;
    .hide-info-btn {
        background-color: $divColor;
        color: white;
        border-style: none;
        border-radius: 0.3rem;
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
    .hide-info-btn:hover {
        cursor: pointer;
        background-color: $hoverColor;
    }
  }

.title-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: rgb(5, 0, 29);
    margin-bottom: 2rem;
}

.select-button {
    margin: 0 2rem;
    button {
      color: white;
      background-color: $divColor;
      border-radius: 0.3rem;
      padding: 1rem 2rem;
      font-size: 1rem;
    }
    button:hover {
      background-color: $hoverColor;
      cursor: pointer;
    }
  }
  
.select-button:first-child {
margin-left: 0;
}

#select-category {
    list-style: none;
    @include flex(row);
}

#search-form {
    input {
        background-color: transparent;
        border: 2px solid #b0b2d1;
        border-radius: 0.3rem;
        font-family: inherit;
        font-size: 1.2rem;
        margin-top: 1rem;
        padding: 0.5rem 1.5rem;
        color: white;
    }
    button {
        margin: 0 2.5rem 0 0.5rem;
        color: white;
        background-color: $divColor;
        border-radius: 0.3rem;
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    button:hover {
        background-color: $hoverColor;
        cursor: pointer;
    }
    
}




