@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.movie {
  margin: 1.5rem;
  width: 300px;
  border-radius: 0.3rem;
  background: #525cdf;
  color: white;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.movie img {
  max-width: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
}

.movie .movie-info {
  position: absolute;
  background-color: black;
  display: none;
}

.movie .rating {
  float: left;
  font-weight: bold;
}

.movie .info-btn {
  position: absolute;
  background: transparent;
  border-style: none;
  margin: 0.5rem 0.25rem;
  opacity: 50%;
}

.movie .info-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.movie .info-btn img {
  width: 3.5rem;
}

.movie .movie-info-show {
  position: absolute;
  background-color: black;
  padding: 1rem;
  border-radius: 0.3rem;
  -webkit-animation: fadeIn 0.75s;
          animation: fadeIn 0.75s;
}

.movie .movie-info-show .hide-info-btn {
  background-color: #525cdf;
  color: white;
  border-style: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.movie .movie-info-show .hide-info-btn:hover {
  cursor: pointer;
  background-color: #2a36d8;
}

.movie .title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  background-color: #05001d;
  margin-bottom: 2rem;
}

.nav .mobile-toggle-btn {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.nav .mobile-toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.nav #select-category {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav #search-form input {
  background-color: transparent;
  border: 2px solid #b0b2d1;
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  color: white;
}

.nav #search-form button {
  color: white;
  background-color: #5d616b;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.nav #search-form button:hover {
  background-color: #2a36d8;
  cursor: pointer;
}

.nav #search-form button {
  margin: 0 2.5rem 0 0.5rem;
  padding: 1rem 2rem;
}

html {
  overflow-x: hidden;
}

html body {
  background: #0a0038;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5rem;
}

.category-button {
  margin: 0 1rem;
}

.category-button button {
  color: white;
  background-color: #525cdf;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.category-button button:hover {
  background-color: #2a36d8;
  cursor: pointer;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin: 2rem 10rem;
}

.pages button {
  color: white;
  background-color: #5d616b;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.pages button:hover {
  background-color: #2a36d8;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    margin: 0;
  }
  .nav .mobile-toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.5rem 0;
  }
  .nav #select-category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .nav #search-form {
    margin: auto;
  }
  .nav #search-form input {
    font-size: 1rem;
    margin: 1.5rem 0.25rem;
  }
  .nav #search-form button {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    margin: 1.5rem 0.25rem;
  }
  .category-links {
    display: none;
  }
  .category-links ul li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: .5rem 1rem;
  }
  .category-links-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .category-links-active ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .category-links-active li {
    text-align: center;
  }
  .category-links-active li:hover {
    background-color: #555;
  }
  .category-links-active li button {
    background-color: transparent;
    border: none;
  }
  .category-links-active li button:hover {
    background-color: transparent;
  }
}

@media (max-width: 450px) {
  .movie {
    margin: 1rem 0;
    font-size: 0.65rem;
  }
  .nav #search-form input {
    font-size: 0.7rem;
    margin: 1.5rem 0.25rem;
  }
  .nav #search-form button {
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    margin: 1.5rem 0.25rem;
  }
}
/*# sourceMappingURL=style.css.map */